~
tmp
tmp2
d_article.yaml
t_mv.yaml.log
tube
tube.log
.DS_Store
d_apikeys.yaml
t_test.yaml
t_test.yaml.log
__pycache__
d_reporter.txt
s_test.py
d_weathers.txt
d_date_detail.txt
all_pics.txt
*.backup
*.yaml.log
*news.txt
tmp.txt
dpics/*.mp4
dpics/*.png
dpics/news.yaml
.vscode
fonts
fonts.txt
test.yaml